In [85]:
import sklearn
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [86]:
scikit_learn_version = sklearn.__version__
scikit_learn_version

'0.23.2'

In [87]:
automobile_train = pd.read_csv("datasets/automobiles_file1.csv")
automobile_train.shape

(81, 52)

In [88]:
automobile_test = pd.read_csv("datasets/automobiles_test.csv")
automobile_test.shape

(43, 52)

In [89]:
x_train = automobile_train.drop('price',axis=1)
y_train = automobile_train['price']
print(type(y_train))

<class 'pandas.core.series.Series'>

In [90]:
x_test = automobile_test.drop('price',axis=1)
y_test = automobile_test['price']

In [91]:
x_train.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,1,0,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,1,0,0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,1,0,0

In [92]:
y_train.head()

0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
Name: price, dtype: float64

In [93]:
x_test.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,95.7,166.3,64.4,52.8,2140,98,3.19,3.03,9.0,70,...,0,0,0,1,0,0,0,0,0,0
1,94.5,168.7,64.0,52.6,2169,98,3.19,3.03,9.0,70,...,0,0,0,1,0,0,0,0,0,0
2,94.5,168.7,64.0,52.6,2204,98,3.19,3.03,9.0,70,...,0,0,0,1,0,0,0,0,0,0
3,94.5,168.7,64.0,52.6,2265,98,3.24,3.08,9.4,112,...,0,0,0,0,0,0,0,1,0,0
4,94.5,168.7,64.0,52.6,2300,98,3.24,3.08,9.4,112,...,0,0,0,0,0,0,0,1,0,0

In [94]:
# warm_start-When set to True, reuse the solution of the previous call to fit 
# and add more estimators to the ensemble, otherwise, just fit a whole new forest
regressor_model = RandomForestRegressor(n_estimators=5, warm_start=True)
rfr_model = regressor_model.fit(x_train,y_train)

rfr_model

RandomForestRegressor(n_estimators=5, warm_start=True)

In [95]:
training_score = rfr_model.score(x_train,y_train)
training_score

0.9786433254229839

In [97]:
import numpy as np
y_pred=rfr_model.predict(x_test)

testing_score = r2_score(y_test,y_pred)
print(type(y_pred), type(y_test))
#print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))
testing_score

<class 'numpy.ndarray'> <class 'pandas.core.series.Series'>

-0.47872644282990584

In [65]:
rfr_param = {}
rfr_param['model'] = rfr_model
rfr_param['sklearn_version'] = scikit_learn_version
rfr_param['r2_score'] = testing_score

In [66]:
rfr_param

{'model': RandomForestRegressor(n_estimators=5, warm_start=True),
 'sklearn_version': '0.23.2',
 'r2_score': -0.3486880877678784}

In [67]:
import joblib

In [68]:
filename = "models/rfr_model_checkpoint.joblib"

In [69]:
joblib.dump(rfr_param, filename)

['models/rfr_model_checkpoint.joblib']

In [70]:
joblib_model = joblib.load(filename)

In [71]:
joblib_model['model']

RandomForestRegressor(n_estimators=5, warm_start=True)

In [72]:
joblib_model['sklearn_version']

'0.23.2'

In [73]:
joblib_model['r2_score']

-0.3486880877678784

In [74]:
joblib_model['model'].n_estimators = 15
joblib_model['model']

RandomForestRegressor(n_estimators=15, warm_start=True)

In [75]:
automobile_retrain = pd.read_csv("datasets/automobiles_file2.csv")
automobile_retrain.shape

(81, 52)

In [76]:
x_train = automobile_train.drop('price',axis=1)
y_train = automobile_train['price']

In [77]:
# warm_start-When set to True, reuse the solution of the previous call to fit 
# and add more estimators to the ensemble, otherwise, just fit a whole new forest
regressor_retrain_model = joblib_model['model'].fit(x_train,y_train)

rfr_model

RandomForestRegressor(n_estimators=5, warm_start=True)

In [78]:
retrained_training_score = regressor_retrain_model.score(x_train,y_train)
retrained_training_score

0.9821253276949581

In [79]:
y_pred=regressor_retrain_model.predict(x_test)

testing_score = r2_score(y_test,y_pred)
testing_score

-0.33268093938233845